<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
  <div>We are sorry, we couldn't find your URL identifier: {{url_id}}</div>
</body>
</html>