<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <form action="/shorten/" method="post">
       <div>URL to shorten:<input type="text" name="url"/></div>
       <div><input type="submit" value="Shorten URL"/></div>
     </form>
</body>
</html>